.container {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    align-self: center;
    justify-content: center;
    max-height: 100%;
    
}

.grid {
    border: 1px solid black;
    width:20px;
    height: 20px;

}

/* .grid:hover {
    background-color:black;
} */